html{
    overflow: visible;
    height: fit-content;
}
body{
    font-family: 'Times New Roman', Times, serif;
    overflow: visible;
    position: absolute;
    opacity: 90%;
    width: 100%;
}


/* main */

h1{
    font-size: 1.8em;
    display: inline;
    width: fit-content;
    position: relative;
    
}
h2{
    font-size: 1.2em;
    letter-spacing: 4px;
    font-weight: 200;
    font-style: italic;
    width: fit-content;
    position: relative;
    top: 20dvh;
    left: 45vw;
}
h3{
    font-size: 1.2em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #192318;
}
#giflogo{
    position: relative;
    left: 50%;
    translate: -50%;
}
#logo{
    min-width: 70px;
    width: 5%;
    max-width: 9%;
    position: sticky;
    top: 2vh;
    z-index: 100;
    overflow: visible;
}
.about{
    position: relative;
    width: 50dvw;
    left: 50%;
    translate: -50%;
    line-height: 2em;
    text-align: center;
}
.about h1{
    position: relative;
    color: rgb(28, 11, 56);
    text-align: center;

}
.about h3{
    position: relative;  
    top: 3em;
}
.releases{
    position: relative;
    left: 45vw;
    top: 30dvh;
    color: #a82c2c;
    width: fit-content;
}
.covers{
    top: 20dvh;
    width: fit-content;
    position: relative;
    left: 50%;
    translate: -50%;
}
.covers img{
    height: auto;
    max-height: 250px;    
}
.covers a{
    margin-inline: 6vw;
}

.releases a{
    text-decoration: none;
    color: #a82c2c;
    
}
.releases a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.events a{
    position: relative;
    top: 50dvh;
    left: 40vw;
    color: #6b8383;
    width: fit-content;
    text-decoration: none;
}
.events a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.merch a{
    position: relative;
    top: 60dvh;
    left: 55vw;
    color: #a8822c;
    width: fit-content;
    text-decoration: none;
}
.merch a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.contact{
    width: fit-content;
    position: relative;
    top: 78dvh;
    left: 50vw;
    translate: -50%;
    color: #bb6d6d;
}
.contactinfo{
    width: fit-content;
    position: relative;
    top: 80dvh;
    left: 50vw;
    translate: -50%;
    padding-bottom: 20dvh;
}


/* billed-væg */

.billedcontainer{
    width: 100%;
    position: relative;
    top: 80dvh;
}


/* overlay lort */

/* .overlay {
  position: absolute;
  top: -2%;
  bottom: 0;
  left: -5%;
  right: 0;
  background-repeat: repeat;
  background-image: url(paper-texture.jpg);
  mix-blend-mode: multiply;
  pointer-events: none;
  opacity: 70%;
} */


/* releases-subpage */

.home_knap a{
    color: #072d32;
    text-decoration: none;
    position: relative;
    left: 80dvw;
}
.home_knap a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.releases_2{
    color: #9c4242;
    width: fit-content;
    position: relative;
    top: 10dvh;
    left: 35vw;
}
.releases_navne{
    width: fit-content;
    position: relative;
    top: 20dvh;
    font-size: 1.5em;
}
.releases_navne img{
    position: relative;
    max-width: 280px;
    float: right;
    margin: 15dvh;
}
li{
    margin-bottom: 60dvh;
    margin-top: 30dvh;
    color: #0a3207;
}
ul{
    list-style-type: none;
    position: relative;
    left: 15vw;
}


/* events-subpage */

/* merch-subpage */