html{
    overflow: visible;
    z-index: 1;
    height: fit-content;
}
body{
    font-family: 'Times New Roman', Times, serif;
    overflow: visible;
    position: absolute;
}

#giflogo{
    position: relative;
    left: 50%;
    translate: -50%;
}
#logo{
    width: 10%;
    max-width: 100px;
    position: sticky;
    top: 2vh;
    height: auto;
    z-index: 100;
    overflow: visible;
}
h1{
    font-size: 1.8em;
    display: inline;
    width: fit-content;
    position: relative;
    
}
.releases{
    position: relative;
    left: 45vw;
    top: 20dvh;
    color: #a82c2c;
    width: fit-content;
}
.covers{
    top: 25dvh;
    width: fit-content;
    position: relative;
    left: 50%;
    translate: -50%;
}
.covers img{
    height: 25vw;
    max-height: 280px;
}
.covers a{
    margin-inline: 4vw;
}
h2{
    font-size: 1.2em;
    letter-spacing: 4px;
    font-weight: 200;
    font-style: italic;
    width: fit-content;
    position: relative;
    top: 28dvh;
    left: 50vw;
}
.releases a{
    text-decoration: none;
    color: #a82c2c;
    
}
.releases a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.events a{
    position: relative;
    top: 35dvh;
    left: 40vw;
    color: #6b8383;
    width: fit-content;
    text-decoration: none;
}
.events a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.merch a{
    position: relative;
    top: 50dvh;
    left: 55vw;
    color: #a8822c;
    width: fit-content;
    text-decoration: none;
}
.merch a:hover{
    color: rgb(140, 169, 237);
    font-weight: bold;
}
.contact{
    width: fit-content;
    position: relative;
    top: 70dvh;
    left: 50vw;
    translate: -50%;
    color: #bb6d6d;
}
.contactinfo{
    width: fit-content;
    position: relative;
    top: 70dvh;
    left: 50vw;
    translate: -50%;
    padding-bottom: 50px;
}
.billedcontainer{
    
    width: 90%;
    height: 98%;
    position: relative;
    top: 30dvh;
    left: 50%;
    translate: -50%;
    overflow: visible;
}
.billedcontainer img{
    clear: both;
}
.billeder1{
    width: 80%;
    position: relative;
    left: 50%;
    translate: -50%;
    
}
.billeder1 img{
    float: left;
    margin: 4vw;
}
.billeder2{
    position: relative;
    top: 30dvh;
    left: 25vw;
    margin: 4vw;
    width: 60%;
}
.billeder2 img{
    float: left;
    margin: 2vw;
}
.billeder3{
    width: fit-content;
    position: relative;
    top: 50dvh;
    right: 10%;
}
.billeder3 img{
    float: left;
    margin: 4vw;
}
.billeder4{
    width: fit-content;
    position: relative;
    top: 70dvh;
}
.billeder4 img{
    float: right;
    padding: 10%;
}
.billeder5{
    width: fit-content;
    position: relative;
    top: 180dvh;
    left: 20%;
}
.billeder5 img{
    float: left;
    margin: 2%;
}
/* releases-subpage */
.releases_2{
    color: #436f3f;
    width: fit-content;
    position: relative;
    top: 10dvh;
    left: 35vw;
}
.releases_navne{
    width: fit-content;
    position: relative;
    top: 20dvh;
    font-size: 1.5em;
}
.releases_navne img{
    position: relative;
    max-width: 280px;
    float: right;
    margin: 15dvh;
}
li{
    margin-bottom: 60dvh;
    margin-top: 30dvh;
    color: #a82c2c;
}
ul{
    list-style-type: none;
    position: relative;
    left: 15vw;
}
/* events-subpage */

/* merch-subpage */